@inject OpenDict.Helpers.LocalizationHelper Localization

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card p-2">
            <h4>@Localization.T("Login.Text.UserLogin")</h4>
            <hr />
            <form action="/Login/Index" method="POST">
                <small>@Localization.T("Login.Text.Username")</small>
                <input type="text" class="form-control" name="username" />
                <small>@Localization.T("Login.Text.Password")</small>
                <input type="password" class="form-control" name="password" />
                <button type="submit" class="btn-success mt-2">@Localization.T("Login.Text.Login")</button>
            </form>
            <small><a href="/home/forgot">@Localization.T("Login.Text.Forgot")</a> | <a href="/home/register">@Localization.T("Login.Text.Register")</a></small>
        </div>
    </div>
</div>